* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3 {
    text-align: center;
}
h4,
h5,
h6,

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
    margin-left: 10px;
    margin-right: 10px;
    color:#06273c;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 85%;
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right:10%;
}
.pure-form .pure-input-1-2 {
    margin-left: 10px;
}
.pure-form .pure-checkbox, .pure-form .pure-radio {
    margin: .5em 0;
    display: block;
}
.pure-form .pure-group input:first-child:last-child, .pure-form .pure-group textarea:first-child:last-child {
    margin-left: 10px;
    margin-right: 10%;
    width: 85%;
    min-height: 100px;
}
label {
    margin-left: 10px;
}

    /*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
    .pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.home-menu {
    background: #06273c;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}
.pure-menu-link {
    margin-top: 8px;
}

.home-menu .pure-menu-heading {
    color: #a2bdc7;
    font-weight: 400;
    font-size: 230%;
    font-family: 'Courier New', 'Courier MonoThai', monospace, serif;
    letter-spacing: 0.01em;
}
.splash .pure-menu-heading-2 {
    margin-top: -13%;
    margin-left: -35%;
    text-align: left;
    color: #06273c;
    font-weight: 600;
    font-size: 120%;
    font-family: 'Courier New', 'Courier MonoThai', monospace, serif;
    letter-spacing: 0.005em;
}
.splash .pure-menu-heading-3 {
    margin-top: 3% !important;
    text-align: left;
    margin-left: -35%;
    color: #06273c;
    font-weight: 600;
    font-size: 120%;
    font-family: 'Courier New', 'Courier MonoThai', monospace, serif;
    letter-spacing: 0.005em;
}




.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #a2bdc7;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background-image: url('images/backgroundimg1.jpg');
    background-repeat: no-repeat;
    background-position: 0% 20px;
    background-size: cover; 
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 65%;
    top: 0;
    left: 0;
    position: fixed !important;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: initial;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    margin-top: -310px;
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.pure-form .pure-group input:first-child:last-child, .pure-form .pure-group textarea:first-child:last-child {
    color: black;
}

.buttonposition {
    margin-left: 35%;
}

/* We want to give the content area some more padding */
.content {
    padding: 0em 0em 0em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 520;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: .75em 0 1em;
    color: #06273c;
    font-size: 30px;
}
.content-head-2 {
    font-weight: 300;
    text-transform: initial;
    letter-spacing: 0.01em;
    margin: .5em 0 .05em;
    font-size: 20px;
    color: #06273c;
}

.content-head-3 {
    font-weight: 300;
    /*text-align: left;*/
    text-transform: initial;
    letter-spacing: 0.01em;
    margin: 0em 0 0em;
    font-size: 20px;
    color: #06273c;
}
.content-head-4 {
    font-weight: 300;
    /*text-align: left;*/
    text-transform: initial;
    letter-spacing: 0.01em;
    margin: 0em 0 0em;
    margin-top: 60px;
    font-size: 20px;
    color: #06273c;
}


.content .pure-g .box1p {
    background-image: url('images/githublogo.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center 14px;
    background-size: 26%;
    height: 120px;
}
.content .pure-g .box2p {
    background-image: url('images/linkedin.svg'); /**/
    background-repeat: no-repeat;
    background-position: center 14px;
    background-size: 23%;
    height: 120px;
}

.content .pure-g .box3p {
    background-image: url('images/gram.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center 15px;
    background-size: 23%;
    height: 140px;
    margin-top:1em;
}
.content .pure-g .box4p {
    background-image: url('images/envelope.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center -20px;
    background-size: 35%;
    height: 120px;
}
.aboutsec1 {
    background-image: url('images/profileshot.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top:-2%;
    height: 400px;
}
.aboutsec2 {
    background-image: url('images/boardpic.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 400px;
}
.pure-u-md-1-1 {
    text-align: center;
    margin: 30px 0 0 0;
    color: #06273c;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: lightgoldenrodyellow;
    -webkit-text-fill-color: #06273c;
}
.galleryr1b1 {
    background-image: url('images/bikesunset.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 300px;
}
.galleryr1b2 {
    background-image: url('images/selambay.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 300px;
}
.galleryr1b3 {
    background-image: url('images/eaglesunset.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 300px;
}
.galleryr1b4 {
    background-image: url('images/vansunset.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 300px;
}
.galleryr1b5 {
    background-image: url('images/befree.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 300px;
}
.galleryr2b1 {
    background-image: url('images/bigsursunset.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 300px;
}

.galleryr2b2 {
    background-image: url('images/areaclosed.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 300px;
}

.galleryr2b3 {
    background-image: url('images/stonelake.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 300px;
}

.galleryr2b4 {
    background-image: url('images/tropical.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 300px;
}

.galleryr2b5 {
    background-image: url('images/bigsursunset2.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -2%;
    height: 300px;
}

.aboutpara1 {
    margin: 0 5% 0 5%;
    color: #6E727D;
    font-weight: 300;
}
.aboutpara2a {
    margin: 0 10px 10px 10px;
    color: #06273C;
    font-weight: 300;
    font-style:italic;
    text-align: center;
}
.aboutpara2b {
    margin: 0 10px 10px 10px;
    color: #06273C;
    font-weight: bold;
    text-align: center;
}
.aboutpara2c {
    margin: 0 10px 25px 10px;
    color: #06273C;
    font-weight: bold;
    text-align: center;
}
.aboutpara3 {
    margin: 0 5% 0 5%;
    color: #6E727D;
    font-weight: 300;
}
.button-secondary {
    background: #06273C;
    margin: 10px 0px 20px 35%;
}
.splitter {
    width: 100%;
    height: 500px;
    background-color: #eaeff0;
    margin-top: 49%;
    margin-left: -20px;
    position: absolute;
}
.backgroundsection1 {
    width: 100%;
    background-image: url('images/woodpanel.jpg');
   /* background-color: #eaeff0; */
    background-position: left;
    background-size: contain;
    margin-top: -26px;
}
.content .pure-g .box5p {
    background-image: url('images/envelope.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center -20px;
    background-size: 35%;
    height: 120px;
}
.content .pure-g .box6p {
    background-image: url('images/envelope.jpg'); /**/
    background-repeat: no-repeat;
    background-position: center -20px;
    background-size: 35%;
    height: 120px;
}
/*addressing the link styling*/

a.boxlink1:link {
    text-decoration: none;
    color: #06273c;
}
a.boxlink1:visited {
    color: #236923;
}
a.boxlink1:hover {
    color: #f7c231;
}
a.boxlink1:active {
    color: #fc731f;
}
/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #06273c;
}



    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }

        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
    /*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}
