<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Imran's Home Page</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <br />
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-5">
            <p class="aboutsec1"></p>
        </div>
        <div class="pure-u-1 pure-u-md-3-5">
            <h3 class="content-subhead">Let me share a little about myself, from one human to another</h3>
            <p class="">Growing up in a suburb outside of the DC Metropolitan area, I always had a penchant for sports, technology and cars.</p>
            <p>That quickly budded into a passion for engineering and technology, and ultimately led me to pursue a degree in Chemical Engineering from the University of Pennsylvania</p>
            <p>Professionally, I quickly segued into business and technology consulting after graduation. That led me through stints working internationally throughout Africa, Europe and the Middle-East.</p>
            <p>Ultimately, I found my way back to the DC area - and continued to learn technologies in the data analytics, software development, and IT architecture domains</p>
            <p>Now I work in IT Services for Deloitte, in the capacity of a Senior Consultant.</p>
            <br />
        </div>
    </div>
    <p>On a less professional note, I still take the time to pursue my outdoor passions at every passing opportunity</p>
    <p>I truly believe that time spent nourishing yourself through connection to nature and physical exertion is second to none.</p>
    <p>It is truly a pity to live life not knowing the capabilities of one's own body and mind.</p>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-3-5">
            <p>Of the outdoor activities I enjoy, snowboarding has got to be one of my favorites.</p>
            <p>But following closely behind are my three favorite sports for tennis, basketball and football.</p>
            <p></p>
            <p>I'm always keen on a good hike, exploring a scenic vista, or meandering down the California coast</p>
        </div>
        <div class="pure-u-1 pure-u-md-2-5">
            <p class="aboutsec1"></p>
        </div>
    </div>

    {% endblock %}
</body>
</html>