<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Imran's Home Page</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="splash-container">
        <div class="splash-background">
            <div class="splash">
                <div class="pure-menu-heading-2">InfoSec Architect, Developer & Futurist</div>
                <div class="pure-menu-heading-3">Business & Technology Consultant</div>
                <div class="pure-menu-heading-3">Blockhain Proponent & Web Pundit</div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">Welcome to Imran's Domain</h2>
            <h4 class="content-head-2 is-center">Here you can find content featured from recent professional or personal endeavours. These might include projects, efforts, art, musings, or other pieces from my adventures here on Earth.</h4>
            <h4 class="content-head-3 is-center">Feel free to look around, reach out or otherwise leave a mark (Public API).</h4>
            <div class="pure-g">
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="boxlink1" href="https://github.com/immacmillan">
                        <h3 class="content-subhead">Interested in my Builds? Curious about this site? Check my Git</h3>
                        <p class="box1p"></p>
                    </a>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="boxlink1" href="https://www.linkedin.com/in/imran-macmillan">
                        <h3 class="content-subhead">For an Accredited Professional Profile, try my LinkedIn</h3>
                        <p class="box2p"></p>
                    </a>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="boxlink1" href="https://www.instagram.com/i_gmac/">
                        <h3 class="content-subhead">To Follow my Latest Adventure, Follow Me on InstaGram</h3>
                        <p class="box3p"></p>
                    </a>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="boxlink1" href="/contactme">
                        <h3 class="content-subhead">To Contact Me about Services, Partnerships, or Other Matters - Please Reach Out!</h3>
                        <p class="box4p"></p>
                    </a>
                </div>
                <!-- <div class="splitter"></div> if need for splitter or bar arises -->
                <div class="backgroundsection1">
                    <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                        <a class="boxlink1" href="">
                            <h3 class="content-subhead">Twitter</h3>
                            <p class="box5p"></p>
                        </a>
                    </div>
                    <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                        <a class="boxlink1" href="">
                            <h3 class="content-subhead">Photography, Philosophy and Art drive the Human Experience!</h3>
                            <p class="box6p"></p>
                        </a>
                    </div>
                    <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                        <a class="boxlink1" href="">
                            <h3 class="content-subhead">To find a Philantrhopic Endeavour I Support, Follow Here!</h3>
                            <p class="box6p"></p>
                        </a>
                    </div>
                    <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                        <a class="boxlink1" href="">
                            <h3 class="content-subhead">To find a Philantrhopic Endeavour I Support, Follow Here!</h3>
                            <p class="box6p"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>