<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Imran's Home Page</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        }
    </script>
    <script>
         $(document).ready(function() {
            //alert("Dom Loaded.");
            showSlides(1);
        });
    </script>

</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="splash-container">
        <div class="splash-background">
            <div class="splash">
                <div class="pure-menu-heading-2">InfoSec Architect, Developer & Futurist</div>
                <div class="pure-menu-heading-3">Business & Technology Consultant</div>
                <div class="pure-menu-heading-3">Blockhain Proponent & Web Pundit</div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">Welcome to Mac's Domain</h2>
            <h4 class="content-head-2 is-center">Here you can find content featured from recent professional or personal endeavours. These might include projects, efforts, art, musings, or other pieces from my adventures here on Earth.</h4>
            <h4 class="content-head-3 is-center">Feel free to look around, reach out or otherwise leave a mark (Public API).</h4>
            <div class="pure-g">
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="boxlink1" href="https://github.com/immacmillan">
                        <h3 class="content-subhead">Interested in my Builds? Curious about this site? Check my Git</h3>
                        <p class="box1p"></p>
                    </a>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="boxlink1" href="https://www.linkedin.com/in/imran-macmillan">
                        <h3 class="content-subhead">For an Accredited Professional Profile, try my LinkedIn</h3>
                        <p class="box2p"></p>
                    </a>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="boxlink1" href="https://www.instagram.com/i_gmac/">
                        <h3 class="content-subhead">To Follow my Latest Adventure, Follow Me on InstaGram</h3>
                        <p class="box3p"></p>
                    </a>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <a class="boxlink1" href="/contactme">
                        <h3 class="content-subhead">To Contact Me about Services, Partnerships, or Other Matters - Please Reach Out!</h3>
                        <p class="box4p"></p>
                    </a>
                </div>
                <!-- <div class="splitter"></div> if need for splitter or bar arises -->
                <div class="backgroundsection1">
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-1">A picture speaks a thousand words - please enjoy some of my own</div>
                        <br />
                    </div>
                </div>
            </div>
        </div>

          <!-- Slideshow container -->
                <div class="slideshow-container">

                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides fade">
                    <div class="numbertext">1 / 10</div>
                    <img src="{{ url_for('static', filename='css/images/areaclosed.jpg') }}" style="width:100%;padding:3%;">
                    <div class="text">Big Sur, or Land Before Time?</div>
                    </div>
                    <div class="mySlides fade">
                    <div class="numbertext">2 / 10</div>
                    <img src="{{ url_for('static', filename='css/images/bikesunset.jpg') }}" style="width:100%;padding:3%;">
                    <div class="text">Chasing the Sunset at Wilder Ranch</div>
                    </div>
                    <div class="mySlides fade">
                    <div class="numbertext">3 / 10</div>
                    <img src="{{ url_for('static', filename='css/images/selambay.jpg') }}" style="width:100%;padding:3%;">
                    <div class="text">Golden Moments in SF with Fam</div>
                    </div>
                    <div class="mySlides fade">
                    <div class="numbertext">4 / 10</div>
                    <img src="{{ url_for('static', filename='css/images/eaglesunset.jpg') }}" style="width:100%;padding:3%;">
                    <div class="text">As the Eagle Takes Flight, Worlds Divide</div>
                    </div>
                    <div class="mySlides fade">
                    <div class="numbertext">5 / 10</div>
                    <img src="{{ url_for('static', filename='css/images/vansunset.jpg') }}" style="width:100%;padding:3%;">
                    <div class="text">Views from BC with Love</div>
                    </div>
                    <div class="mySlides fade">
                    <div class="numbertext">6 / 10</div>
                    <img src="{{ url_for('static', filename='css/images/befree.jpg') }}" style="width:100%;padding:3%;">
                    <div class="text">Don't Be Afraid to Let Go</div>
                    </div>
                    <div class="mySlides fade">
                    <div class="numbertext">7 / 10</div>
                    <img src="{{ url_for('static', filename='css/images/bigsursunset.jpg') }}" style="width:100%;padding:3%;">
                    <div class="text">Only My Favorite Places</div>
                    </div>
                    <div class="mySlides fade">
                    <div class="numbertext">8 / 10</div>
                    <img src="{{ url_for('static', filename='css/images/stonelake.jpg') }}" style="width:100%;padding:3%;">
                    <div class="text">Keep Wandering - deep in BC</div>
                    </div>
                    <div class="mySlides fade">
                    <div class="numbertext">9 / 10</div>
                    <img src="{{ url_for('static', filename='css/images/tropical.jpg') }}" style="width:100%;padding:3%;">
                    <div class="text">Is it a Mirage - Or Just McWay</div>
                    </div>
                    <div class="mySlides fade">
                    <div class="numbertext">10 / 10</div>
                    <img src="{{ url_for('static', filename='css/images/bigsursunset2.jpg') }}" style="width:100%;padding:3%;">
                    <div class="text">These Sunsets Never Get Old</div>
                    </div>
                
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>
                <!-- The dots/circles -->
                <div class="dotcontainer" style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                    <span class="dot" onclick="currentSlide(7)"></span>
                    <span class="dot" onclick="currentSlide(8)"></span>
                    <span class="dot" onclick="currentSlide(9)"></span>
                    <span class="dot" onclick="currentSlide(10)"></span>
                </div>
    <!-- End of container -->
    </div>

    {% endblock %}
</body>
</html>